In [26]:
elements = "books"
if elements == "books":
    print ( "yes, it's a books")

yes, it's a books

In [32]:
num  = 3
if num > 0 :
   print (num, "its a positive number")

3 its a positive number

In [29]:
num = 3
if num > 0:
    print(num, "is a positive number.")
print("This is always printed.")

3 is a positive number.
This is always printed.

In [37]:
num = 3
if num == 3:
  print (num, "ok")

3 ok

In [39]:
elements = "books"

if elements == "books":
     print("Yep, it's books.")
        
if elements != "books":
     print("Nope, not books.")

Yep, it's books.

In [40]:
elements = "books"

if elements == "books":
     print("Yep, it's books.")
        
if elements != "pens":
     print("Nope, not books.")

Yep, it's books.
Nope, not books.

In [41]:
num=-5
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Negative number

In [42]:
num=10
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Positive number

In [43]:
num=0
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Zero

In [55]:
pakistan_malls= [ "trade","center","arena","bahawalpur"]       
select_mall= "arena"


     for select_mall in pakistan_malls:
             if select_malls == pakistan_malls:
                 print ("yes this mall is exist")

IndentationError: unexpected indent (3714788645.py, line 5)

In [56]:
numbers = [7, 5, 3, 10, 4, 2, 8, 4, 11]
sum = 0
for val in numbers:
    sum = sum+val
    print("The sum is", sum)

The sum is 7
The sum is 12
The sum is 15
The sum is 25
The sum is 29
The sum is 31
The sum is 39
The sum is 43
The sum is 54

In [57]:
table = int(input("Enter the number"))

for num in range(1,11):
    print(f" {table} * {num} = {table*num}")

Enter the number 8

 8 * 1 = 8
 8 * 2 = 16
 8 * 3 = 24
 8 * 4 = 32
 8 * 5 = 40
 8 * 6 = 48
 8 * 7 = 56
 8 * 8 = 64
 8 * 9 = 72
 8 * 10 = 80

In [ ]:
table = int(input("Enter the number"))

for table in range(2,table+1):
    print(" ")
    for num in range(1,11):
        
        print(f" {table} * {num} = {table*num}")