In [1]:
print(2839)

2839

In [2]:
print("python programming")

python programming

In [3]:
print(89329032.8344)

89329032.8344

In [4]:
data = 3030

print(type(data))

<class 'int'>

In [5]:
da = 303.33

print(type(da))
print(da)

<class 'float'>
303.33

In [6]:
str = 'Rana'

type(str)

str

In [7]:
num = '300'

type(num)

str

In [8]:
data = 939

data = 100

print(data)

100

In [9]:
da = 100
num = 200
sum = da + num
print(sum)

300

In [10]:
da = 100
num = 200
print(da + num)

300

In [11]:
da = 100
num = 200
mul = da * num
print(mul)

20000

In [12]:
da = 100
num = 200
sum = da - num
print(sum)

-100

In [13]:
da = 1000
num = 200
div = da / num
print(div)

5.0

In [14]:
da = 1000
num = 200
sum = da // num
print(sum)

5

In [15]:
da = 1100
num = 200
sum = da % num

print(type(sum))

print(sum)

<class 'int'>
100

In [18]:
num = input("Enter the value")
print(num)
type(num)

Enter the value 10.5

10.5

str

In [22]:
val = int(input("Enter the integer values"))
print(val)
type(val)

Enter the integer values 100

100

int

In [19]:
val = float(input("Enter the integer values"))

print(val)

Enter the integer values 100

100.0

In [20]:
data = int(input("Enter the the integer value "))

Enter the the integer value  60

In [23]:
d = input("enter value")
type(d)

enter value 100

str

In [25]:
string = str(input("Enter the string"))

Enter the string 50

TypeError: 'str' object is not callable

In [26]:
data = str(input("Enter the string"))

print(data)

Enter the string 590

TypeError: 'str' object is not callable